* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: transparent;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
  font-size: 33px;
  padding-top: 0;
  margin-top: -1px;
  opacity: .85;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: transparent;
	background: #772a4c;
}

#custom-left-arrow-light, #custom-left-arrow-dark {
  padding-left: 5px;
}
#custom-right-arrow-light, #custom-right-arrow-dark {
  padding-right: 5px;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#network,
#idle_inhibitor {
  padding: 0 20px;
  margin-top: -1px;
  background-color: rgba(26, 26, 26, .85);
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #3dd9af;
}
#cpu {
	color: #d93d67;
}
#battery {
	color: #d93db5;
}
#disk {
	color: #d9613d;
}
#network {
  color: #eb94b1;
}
#idle_inhibitor {
  color: #e7e17b;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 6px 2px;
}
